{% block main %}
    <div class="container d-flex align-items-center justify-content-center mt-5">
        <button class="btn btn-button btn-warning" data-bs-toggle="modal" data-bs-target="#createGame"><strong>Add New Game</strong></button>  
    </div>

    <table class="table align-middle mt-5 mb-5 bg-white container">
        <thead class="bg-light">
            <tr>
                <th>ID</th>
                <th>Image</th> 
                <th>Game Name</th>   
                <th>Image Path</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for game in app.games %}
                <tr>
                    <td>{{game.id}}</td>
                    
                    <td>
                        <div class="d-flex align-items-center">
                            <img
                                src="/justplay/{{game.icon}}"
                                alt=""
                                style="width: 45px; height: 45px"
                                class="rounded-circle"
                                />
                        </div>
                    </td>

                    <td>
                        <p class="fw-normal mb-1">{{game.name}}</p>
                    </td>
                    
                    <td>
                        <span class="d-inline text-dark">{{game.icon}}</span>
                    </td>

                    <td>
                        {{game.cat_name}}
                    </td>

                    <td>
                        <a href="/justplay/games/{{game.id}}" class="btn badge bg-success rounded-pill">
                            View
                        </a>

                        <button data-bs-toggle="modal" data-bs-target="#gameModal" type="button" class="btn badge bg-warning rounded-pill" onclick="displayModal({{game.id}})">
                            Edit
                        </button>

                        <button type="button" class="btn badge bg-danger rounded-pill" onclick="deleteGame({{game.id}})">
                            Delete
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


    <div class="modal fade" id="gameModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                   <div id="modal-information">

                   </div>
                </div>
            </div>
        </div>
    </div>

     <div class="modal fade" id="createGame" tabindex="-1" aria-labelledby="createGameModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form method="post" id="newgame-form" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="newgamename" class="form-label">Name</label>
                            <input type="text" class="form-control" id="newgamename" name="newgamename">
                        </div>
                        <div class="mb-3">
                            <label for="newgamecategory" class="form-label">Category</label>
                            <input type="text" class="form-control" id="newgamecategory" name="newgamecategory">
                        </div>
                        {# 
                        <div class="mb-3">
                            <label for="newgameimagepath" class="form-label">Image</label>
                            <input type="text" class="form-control" id="newgameimagepath" name="newgameimagepath">
                        </div>

                        <div class="mb-3">
                            <input type="file" name="fileToUpload" class='form-control'id="fileToUpload">
                        </div> #}

                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary" id="newgame-submit" onclick="createGame()">Submit</button>
                        </div>

                        <div class="d-grid mt-3">
                            <span id="message" class="text-center">
                            
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}